/* base */
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 12px;
	color: #000;
	font-family: helvetica, arial, sans-serif;
	padding-bottom: 30px;
	text-align: center;
}



A:LINK {
	text-decoration: underline
}

A:VISITED {
	text-decoration: none
}

A:ACTIVE {
	text-decoration: none
}

A:HOVER {
	text-decoration: none
}

a Img {
	border-width: 0;
}

/** cabecalho **/
#cabecalho,header {
	background-color: #FFFFFF;
	height: 100px;
	position: relative;
	top: 0px;
}

#logoCompany {
	float: center;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -450px;
	width: 900px;
	height: 120px;
}

#usuarioLogado {
	
	position: relative;
	padding-top: 5px;
	text-align: right;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;	
	color: #3232CD;
}

.jquery-ui-themeswitcher-trigger {
	position: absolute;
	float: right;
	top: 5px;
	right: 50%;
	margin-right: -450px;
}

/* miolo */
#conteudo,section {
	width: 900px;
	height: auto;
	position: relative;
	padding: 10px 0px;
	background-color: #FFF;
	margin: 0 auto;
}
/** top: 170px; **/

/** rodape **/
#rodape,footer {
	background-color: #6D85F2;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 10px 0px;
	text-align: center;
	font-size: 10px;
	color: #FFF;
	display: block;
}

/* TITULO */
h2 {
	display: block;
	position: relative;
	overflow: hidden;
	color: #2B2926;
	text-align: left;
	height: auto;
	margin-bottom: 10px;
	border-bottom: 1px solid;
	clear: both;
	font-size: x-large;
	width: 100%;
}

/* FORM */
input,textarea,select {
	margin-bottom: 3px !important;
}

textarea {
	width: 300px;
}

.ui-inputfield[disabled], .ui-inputfield[disabled].ui-state-focus {
    border: 0 !important;
    box-shadow: none !important;
    outline: 0 !important;
}


input:not        (.ui-widget        ),textarea:not        (.ui-widget      
	 ),select {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background: url("../resources/imagens/txt.gif") repeat-x scroll 0 0
		transparent;
	border: 1px solid #999999;
	padding: 5px 2px;
}

label {
	color: #155c91;
	/* 	display: block;
	float: right;
	margin-right: 20px;
	text-align: right;
	width: 120px; */
	font-family: helvetica, arial, sans-serif;
	padding: 5px;
	font-weight: bold;
}

input:after {
	clear: both;
}

.ui-spinner {
	float: left;
	margin-left: 303px;
}

.ui-editor {
	margin-bottom: 5px;
	width: 600px !important;
}

input[type=submit],button {
	margin: 0 auto;
}

input[type=submit] {
	background: url("../resources/imagens/fundo_botao.gif") repeat-x scroll
		0 0 #2A2A2A;
	border: 1px solid #272727;
	color: #FFFFFF;
	cursor: pointer;
	padding: 3px;
	position: relative;
	text-shadow: 1px 1px 0 #000000;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.ui-panelgrid td {
	border-width:0 !important;
}

.ui-panelgrid tr {
	border-width:0 !important;
}

.tabela {
	margin-top: 20px;
	width: 99%;
}

.tabelaCadUser {
	margin-top: 10px;
	width: 99%;
	
}


/* .fieldSet{
	margin:20px 0px 20px 0px;
	width:830px;
} */
table button {
	margin: 0 4px;
	border-width: 0;
}

.acoes {
	text-align: center;
}

form {
	margin-bottom: 10px;
	position: relative;
	text-align: left;
}

form fieldset {
	padding: 10px 0px 100px 10px;
	margin: 20px 10px 20px 0;
}

.ui-tabs { 
	clear: both;
	margin-bottom: 20px;
}

.ui-tabs fieldset {
	width: 830px;
}


form fieldset legend {
	font-weight: bold;
	padding: 0px 5px;
}

.semBorda tr,.semBorda td {
	border: none !important;
}


.par {
	background-color: #F0F9FF;
}

.impar {
	background: none repeat scroll 0 0 #DDDDDD;
}

.erroPage {
	text-align: center;
	font-size: 80px;
	color: #0000FF;
	display: block;
}

/* validacao */
.erros {
	margin: 0 0 10px 0;
	padding: 0 8px;
	clear: both;
}

.erros li {
	display: inline;
	list-style-position: inside;
	list-style-type: none;
	color: #C22;
	background: #FFDFDF;
	border: 2px solid #DF7D7D;
	float: left;
	padding: 6px;
	margin: 3px;
}

.menu {
	MARGIN-TOP: 66px;
	WIDTH: 475px;
	BACKGROUND: url(bk_menu.gif) repeat-x;
	FLOAT: left;
	HEIGHT: 43px;
	_width: 473px
}

.menu_int {
	MARGIN-TOP: 33px;
	WIDTH: 660px;
	BACKGROUND: url(bk_menu.gif) #21375f repeat-x;
	FLOAT: left;
	HEIGHT: 43px
}

.menu UL {
	PADDING-LEFT: 10px;
	PADDING-TOP: 13px
}

.menu_int UL {
	PADDING-LEFT: 10px;
	PADDING-TOP: 13px
}

.menu UL LI {
	FONT-FAMILY: Verdana, Geneva, sans-serif;
	FLOAT: left;
	COLOR: #fff;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	MARGIN-RIGHT: 4px
}

.menu_int UL LI {
	FONT-FAMILY: Verdana, Geneva, sans-serif;
	FLOAT: left;
	COLOR: #fff;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	MARGIN-RIGHT: 4px
}

.menu UL LI A {
	COLOR: #fff;
	TEXT-DECORATION: none
}

.menu_int UL LI A {
	COLOR: #fff;
	TEXT-DECORATION: none
}

.menu UL LI A:hover {
	TEXT-DECORATION: underline
}

.menu_int UL LI A:hover {
	TEXT-DECORATION: underline
}

.menu_int UL LI SPAN {
	COLOR: #fc0
}

a.doclink{
    background-image: url("../resources/imagens/doclink.gif");
}

a.linksenha {
    position: relative;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.8em;
    color: #8B47DE
}

div.menunav[role=menubar] ul li[role=menuitem]:last-child {
    float: right;
}

div.menunav[role=menubar] ul li[role=menuitem]:last-child a.ui-state-disabled {
    opacity: 1;
}