<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/tx 
		        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		        http://www.springframework.org/schema/context 
		        http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <!-- Bean de envio de email -->
    <bean id="mailFactory" class="com.util.mail.JavaMailConf">
        <constructor-arg>
            <props>
                <prop key="mail.smtp.host">
                    ${mail.smtp.host}
                </prop>
                <prop key="mail.smtp.socketFactory.port">
                    ${mail.smtp.socketFactory.port}
                </prop>
                <prop key="mail.smtp.socketFactory.class">
                    ${mail.smtp.socketFactory.class}
                </prop>
                <prop key="mail.smtp.auth">
                    ${mail.smtp.auth}
                </prop>
                <prop key="mail.smtp.port">
                    ${mail.smtp.port}
                </prop>
                <prop key="app.environment.debug">
                    ${app.environment.debug}
                </prop>
                <prop key="app.environment.desenv">
                    ${app.environment.desenv}
                </prop>
            </props>
        </constructor-arg>
    </bean>

    <bean id="mailApp" class="com.util.JavaMailApp">
        <constructor-arg ref="mailFactory" />
    </bean>

    <!-- Service Declaration -->
    <bean id="UserService" class="com.service.UserService">
        <property name="userDAO" ref="UserDAO" />
    </bean>

    <bean id="JustificativaService" class="com.service.JustificativaService">
        <property name="dao" ref="JustificativaDAO" />
    </bean>

    <bean id="consultaJustificativasPorDataPaginadaPorUserService" class="com.service.impl.ConsultaJustificativasPorDataPaginadaPorUserService">
        <constructor-arg ref="consultaJustificativaPontoPorUser" />
        <constructor-arg ref="PermissoesBean" />
    </bean>

    <bean id="consultaJustificativasPorDataPaginadaService" class="com.service.impl.ConsultaJustificativasPorDataPaginadaService">
        <constructor-arg ref="JustificativaDAO" />
    </bean>

    <!-- DAO Declaration -->
    <bean id="dao" class="com.dao.Dao" abstract="true" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="UserDAO" class="com.dao.UserDAO" parent="dao" />

    <bean id="JustificativaDAO" class="com.dao.JustificativaDAO" parent="dao" />

    <bean id="consultaJustificativaPontoPorUser" class="com.dao.impl.ConsultaJustificativaPontoPorUsuario" parent="dao" />

    <!-- ManagedBeans -->
    <bean id="PermissoesBean" class="com.managed.bean.PermissoesBean" scope="session">
        <aop:scoped-proxy />
    </bean>

    <bean id="justificativaBean" class="com.managed.bean.JustificativaManagedBean" scope="request">
        <constructor-arg ref="JustificativaService" />
        <constructor-arg ref="UserService" />
        <constructor-arg ref="mailApp" />
    </bean>

    <bean id="todasJustificativasPaginadasPorData" class="com.managed.bean.TodasJustificativasPaginadasPorData" scope="request">
        <constructor-arg ref="consultaJustificativasPorDataPaginadaService" />
        <constructor-arg ref="consultaJustificativasPorDataPaginadaPorUserService" />
    </bean>

    <!-- Resource bundle -->
    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename">
            <value>resources/messages</value>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>WEB-INF/config/config.properties</value>
        </property>
    </bean>

    <!-- Data Source Declaration -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxPoolSize" value="10" />
        <property name="maxStatements" value="0" />
        <property name="minPoolSize" value="5" />
    </bean>

    <!-- Session Factory Declaration -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.model.User</value>
                <value>com.model.JustificativaPonto</value>
                <value>com.model.HistoricoJustificativaPonto</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager" />

    <!-- Transaction Manager is defined -->
    <bean id="txManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

</beans>
